@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss'; */

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';

/* Base styles */
@layer base {
  html {
    font-size: 14px;
  }
  
  body {
    @apply text-gray-800 bg-white;
    font-family: 'Poppins', system-ui, -apple-system, sans-serif;
  }
  
  .dark body {
    @apply text-gray-200 bg-gray-900;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

.dark ::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #4b5563;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
